<ul class="nav navbar-nav">
    <li>@Html.ActionLink("Home", "Index", "Home")</li>

    @if (Request.IsAuthenticated)
    {

        if (User.IsInRole("Admin"))
        {

            <li>@Html.ActionLink("Blood Group", "Index", "BloodGroups")</li>
            <li>@Html.ActionLink("Request List", "Index", "Requests")</li>
        }

        else
        {
            <li>@Html.ActionLink("Apply for Blood", "Create", "Requests")</li>
        }
    }




</ul>
